# Open Data Hub and Object Storage

The intent of this notebook is to provide examples of how data engineers/scientist can use Open Data Hub and object storage, specifically, Ceph object storage, much in the same way they are accoustomed to interacting with Amazon Simple Storage Service (S3). This is made possible because Ceph's object storage gateway offers excellent fidelity with the modalities of Amazon S3.

# Working with Boto

Boto is an integrated interface to current and future infrastructural services offered by Amazon Web Services. Amoung the services it provides interfaces for is Amazon S3. For lightweight analysis of data using python tools like numpy or pandas, it is handy to interact with data stored in object storage using pure python. This is where Boto shines.

In [1]:
import sys

In [2]:
import os
import boto3


s3_endpoint_url = os.environ['S3_ENDPOINT_URL']
s3_access_key = os.environ['AWS_ACCESS_KEY_ID']
s3_secret_key = os.environ['AWS_SECRET_ACCESS_KEY']
s3_bucket_name = os.environ['JUPYTERHUB_USER']

print(s3_endpoint_url)
print(s3_bucket_name)
s3 = boto3.client('s3','us-east-1', endpoint_url= s3_endpoint_url,
                       aws_access_key_id = s3_access_key,
                       aws_secret_access_key = s3_secret_key)

http://172.30.170.19:8000
user8

# Creating a bucket, uploading and object (put), and listing the bucket.

In [3]:
s3.create_bucket(Bucket=s3_bucket_name)
s3.put_object(Bucket=s3_bucket_name,Key='object',Body='data')
for key in s3.list_objects(Bucket=s3_bucket_name)['Contents']:
    print(key['Key'])

kube-metrics/_SUCCESS
kube-metrics/part-00000-1a71eceb-3f41-4255-a753-32cfeb4d3ede-c000.json.bz2
kube-metrics/part-00001-1a71eceb-3f41-4255-a753-32cfeb4d3ede-c000.json.bz2
kube-metrics/part-00002-1a71eceb-3f41-4255-a753-32cfeb4d3ede-c000.json.bz2
kube-metrics/part-00003-1a71eceb-3f41-4255-a753-32cfeb4d3ede-c000.json.bz2
kube-metrics/part-00004-1a71eceb-3f41-4255-a753-32cfeb4d3ede-c000.json.bz2
kube-metrics/part-00005-1a71eceb-3f41-4255-a753-32cfeb4d3ede-c000.json.bz2
kube-metrics/part-00006-1a71eceb-3f41-4255-a753-32cfeb4d3ede-c000.json.bz2
kube-metrics/part-00007-1a71eceb-3f41-4255-a753-32cfeb4d3ede-c000.json.bz2
kube-metrics/part-00008-1a71eceb-3f41-4255-a753-32cfeb4d3ede-c000.json.bz2
kube-metrics/part-00009-1a71eceb-3f41-4255-a753-32cfeb4d3ede-c000.json.bz2
kube-metrics/part-00010-1a71eceb-3f41-4255-a753-32cfeb4d3ede-c000.json.bz2
kube-metrics/part-00011-1a71eceb-3f41-4255-a753-32cfeb4d3ede-c000.json.bz2
kube-metrics/part-00012-1a71eceb-3f41-4255-a753-32cfeb4d3ede-c000.json.bz2
kube-metrics/part-00013-1a71eceb-3f41-4255-a753-32cfeb4d3ede-c000.json.bz2
kube-metrics/part-00014-1a71eceb-3f41-4255-a753-32cfeb4d3ede-c000.json.bz2
kube-metrics/part-00015-1a71eceb-3f41-4255-a753-32cfeb4d3ede-c000.json.bz2
kube-metrics/part-00016-1a71eceb-3f41-4255-a753-32cfeb4d3ede-c000.json.bz2
kube-metrics/part-00017-1a71eceb-3f41-4255-a753-32cfeb4d3ede-c000.json.bz2
kube-metrics/part-00018-1a71eceb-3f41-4255-a753-32cfeb4d3ede-c000.json.bz2
kube-metrics/part-00019-1a71eceb-3f41-4255-a753-32cfeb4d3ede-c000.json.bz2
kube-metrics/part-00020-1a71eceb-3f41-4255-a753-32cfeb4d3ede-c000.json.bz2
kube-metrics/part-00021-1a71eceb-3f41-4255-a753-32cfeb4d3ede-c000.json.bz2
kube-metrics/part-00022-1a71eceb-3f41-4255-a753-32cfeb4d3ede-c000.json.bz2
kube-metrics/part-00023-1a71eceb-3f41-4255-a753-32cfeb4d3ede-c000.json.bz2
kube-metrics/part-00024-1a71eceb-3f41-4255-a753-32cfeb4d3ede-c000.json.bz2
kube-metrics/part-00025-1a71eceb-3f41-4255-a753-32cfeb4d3ede-c000.json.bz2
kube-metrics/part-00026-1a71eceb-3f41-4255-a753-32cfeb4d3ede-c000.json.bz2
kube-metrics/part-00027-1a71eceb-3f41-4255-a753-32cfeb4d3ede-c000.json.bz2
kube-metrics/part-00028-1a71eceb-3f41-4255-a753-32cfeb4d3ede-c000.json.bz2
kube-metrics/part-00029-1a71eceb-3f41-4255-a753-32cfeb4d3ede-c000.json.bz2
kube-metrics/part-00030-1a71eceb-3f41-4255-a753-32cfeb4d3ede-c000.json.bz2
kube-metrics/part-00031-1a71eceb-3f41-4255-a753-32cfeb4d3ede-c000.json.bz2
kube-metrics/part-00032-1a71eceb-3f41-4255-a753-32cfeb4d3ede-c000.json.bz2
kube-metrics/part-00033-1a71eceb-3f41-4255-a753-32cfeb4d3ede-c000.json.bz2
kube-metrics/part-00034-1a71eceb-3f41-4255-a753-32cfeb4d3ede-c000.json.bz2
kube-metrics/part-00035-1a71eceb-3f41-4255-a753-32cfeb4d3ede-c000.json.bz2
kube-metrics/part-00036-1a71eceb-3f41-4255-a753-32cfeb4d3ede-c000.json.bz2
kube-metrics/part-00037-1a71eceb-3f41-4255-a753-32cfeb4d3ede-c000.json.bz2
kube-metrics/part-00038-1a71eceb-3f41-4255-a753-32cfeb4d3ede-c000.json.bz2
kube-metrics/part-00039-1a71eceb-3f41-4255-a753-32cfeb4d3ede-c000.json.bz2
kube-metrics/part-00040-1a71eceb-3f41-4255-a753-32cfeb4d3ede-c000.json.bz2
kube-metrics/part-00041-1a71eceb-3f41-4255-a753-32cfeb4d3ede-c000.json.bz2
kube-metrics/part-00042-1a71eceb-3f41-4255-a753-32cfeb4d3ede-c000.json.bz2
kube-metrics/part-00043-1a71eceb-3f41-4255-a753-32cfeb4d3ede-c000.json.bz2
kube-metrics/part-00044-1a71eceb-3f41-4255-a753-32cfeb4d3ede-c000.json.bz2
kube-metrics/part-00045-1a71eceb-3f41-4255-a753-32cfeb4d3ede-c000.json.bz2
kube-metrics/part-00046-1a71eceb-3f41-4255-a753-32cfeb4d3ede-c000.json.bz2
kube-metrics/part-00047-1a71eceb-3f41-4255-a753-32cfeb4d3ede-c000.json.bz2
kube-metrics/part-00048-1a71eceb-3f41-4255-a753-32cfeb4d3ede-c000.json.bz2
kube-metrics/part-00049-1a71eceb-3f41-4255-a753-32cfeb4d3ede-c000.json.bz2
kube-metrics/part-00050-1a71eceb-3f41-4255-a753-32cfeb4d3ede-c000.json.bz2
kube-metrics/part-00051-1a71eceb-3f41-4255-a753-32cfeb4d3ede-c000.json.bz2
kube-metrics/part-00052-1a71eceb-3f41-4255-a753-32cfeb4d3ede-c000.json.bz2
kube-metrics/part-00053-1a71eceb-3f41-4255-a753-32cfeb4d3ede-c000.json.bz2
kube-metrics/part-00054-1a71eceb-3f41-4255-a753-32cfeb4d3ede-c000.json.bz2
kube-metrics/part-00055-1a71eceb-3f41-4255-a753-32cfeb4d3ede-c000.json.bz2
kube-metrics/part-00056-1a71eceb-3f41-4255-a753-32cfeb4d3ede-c000.json.bz2
kube-metrics/part-00057-1a71eceb-3f41-4255-a753-32cfeb4d3ede-c000.json.bz2
kube-metrics/part-00058-1a71eceb-3f41-4255-a753-32cfeb4d3ede-c000.json.bz2
kube-metrics/part-00059-1a71eceb-3f41-4255-a753-32cfeb4d3ede-c000.json.bz2
kube-metrics/part-00060-1a71eceb-3f41-4255-a753-32cfeb4d3ede-c000.json.bz2
kube-metrics/part-00061-1a71eceb-3f41-4255-a753-32cfeb4d3ede-c000.json.bz2
kube-metrics/part-00062-1a71eceb-3f41-4255-a753-32cfeb4d3ede-c000.json.bz2
kube-metrics/part-00063-1a71eceb-3f41-4255-a753-32cfeb4d3ede-c000.json.bz2
kube-metrics/part-00064-1a71eceb-3f41-4255-a753-32cfeb4d3ede-c000.json.bz2
kube-metrics/part-00065-1a71eceb-3f41-4255-a753-32cfeb4d3ede-c000.json.bz2
kube-metrics/part-00066-1a71eceb-3f41-4255-a753-32cfeb4d3ede-c000.json.bz2
kube-metrics/part-00067-1a71eceb-3f41-4255-a753-32cfeb4d3ede-c000.json.bz2
kube-metrics/part-00068-1a71eceb-3f41-4255-a753-32cfeb4d3ede-c000.json.bz2
kube-metrics/part-00069-1a71eceb-3f41-4255-a753-32cfeb4d3ede-c000.json.bz2
kube-metrics/part-00070-1a71eceb-3f41-4255-a753-32cfeb4d3ede-c000.json.bz2
kube-metrics/part-00071-1a71eceb-3f41-4255-a753-32cfeb4d3ede-c000.json.bz2
kube-metrics/part-00072-1a71eceb-3f41-4255-a753-32cfeb4d3ede-c000.json.bz2
kube-metrics/part-00073-1a71eceb-3f41-4255-a753-32cfeb4d3ede-c000.json.bz2
kube-metrics/part-00074-1a71eceb-3f41-4255-a753-32cfeb4d3ede-c000.json.bz2
kube-metrics/part-00075-1a71eceb-3f41-4255-a753-32cfeb4d3ede-c000.json.bz2
object
trip_report.tsv/_SUCCESS
trip_report.tsv/part-00000-4ab5872b-cee0-47d4-8afa-a480cc79ce3f-c000.csv

# Working with Spark

Open Data Hub operator will install Spark. Each Jupyterhub user will also have a dedicated Spark cluster (Master and Workers) to use. First step is to connect to the Spark Cluster and get a spark session

In [4]:
import os
import pyspark

from pyspark.context import SparkContext
from pyspark.sql import SparkSession, SQLContext

##################################################
# This is a HACK until we can resolve the issue
# preventing the spark nodes from resolving pod
# names
spark_driver_host = "10.128.2.70"
##################################################

#os.environ["PYSPARK_SUBMIT_ARGS"] = f"--conf spark.driver.host={spark_driver_host} --conf spark.cores.max=6 --conf spark.executor.instances=2 --conf spark.executor.memory=3G --conf spark.executor.cores=3 --conf spark.driver.memory=4G --packages com.amazonaws:aws-java-sdk:1.8.0,org.apache.hadoop:hadoop-aws:2.8.5 pyspark-shell"
os.environ["PYSPARK_SUBMIT_ARGS"] = f"--conf spark.driver.host={spark_driver_host} --packages com.amazonaws:aws-java-sdk:1.8.0,org.apache.hadoop:hadoop-aws:2.8.5 pyspark-shell"
spark_cluster_url = f"spark://{os.environ['SPARK_CLUSTER']}:7077"
spark = SparkSession.builder.master(spark_cluster_url).getOrCreate()

In [5]:
hadoopConf=spark.sparkContext._jsc.hadoopConfiguration()
hadoopConf.set("fs.s3a.endpoint", s3_endpoint_url)
hadoopConf.set("fs.s3a.access.key", s3_access_key)
hadoopConf.set("fs.s3a.secret.key", s3_secret_key)
hadoopConf.set("fs.s3a.path.style.access", "true")
hadoopConf.set("fs.s3a.connection.ssl.enabled", "false")

In [6]:
import socket
spark.range(100, numPartitions=100).rdd.map(lambda x: socket.gethostname()).distinct().collect()

['spark-cluster-user8-w-gkwjn', 'spark-cluster-user8-w-b58cp']

In [7]:
df0 = spark.read.text(f"s3a://{s3_bucket_name}/object")

In [ ]:
df0
print("Total number of rows in df0: %d" % df0.count())
df0.printSchema()
df0.show()
df0.select("value").show()

# Working with a Hybrid Data Context

As of Hadoop 2.8, S3A supports per bucket configuration. This is very powerful. It allows us to have a distinct S3A configuration, with a different endpoint and different set of credentials. With this I can use a single Spark context to read a parquet file from a bucket in the public cloud (Amazon S3) into a data frame, then turn around and write that dataframe as a parquet file into a bucket that exists in the Ceph(Rook) local cluster installation.

In [8]:
hadoopConf=spark.sparkContext._jsc.hadoopConfiguration()
hadoopConf.set("fs.s3a.bucket.bd-dist.endpoint", "s3.amazonaws.com")
hadoopConf.set("fs.s3a.bucket.bd-dist.aws.credentials.provider", "org.apache.hadoop.fs.s3a.AnonymousAWSCredentialsProvider")

__Public to Private ETL__

Simply read tab separated data from a bucket in Amazon S3 and write it back out to a bucket in our Ceph(Rook) service.

In [9]:
tripreport = spark.read.csv("s3a://bd-dist/trip_report.tsv",sep="\t")
print("Total number of rows in df0: %d" % tripreport.count())
tripreport.printSchema()
tripreport.show()

Total number of rows in df0: 135
root
 |-- _c0: string (nullable = true)
 |-- _c1: string (nullable = true)
 |-- _c2: string (nullable = true)
 |-- _c3: string (nullable = true)
 |-- _c4: string (nullable = true)
 |-- _c5: string (nullable = true)
 |-- _c6: string (nullable = true)
 |-- _c7: string (nullable = true)
 |-- _c8: string (nullable = true)
 |-- _c9: string (nullable = true)
 |-- _c10: string (nullable = true)
 |-- _c11: string (nullable = true)
 |-- _c12: string (nullable = true)
 |-- _c13: string (nullable = true)
 |-- _c14: string (nullable = true)
 |-- _c15: string (nullable = true)
 |-- _c16: string (nullable = true)
 |-- _c17: string (nullable = true)
 |-- _c18: string (nullable = true)
 |-- _c19: string (nullable = true)

+------------------+---------------+--------------------+--------------------+--------------------+--------------------+---------------+----------+------------+--------------------+--------------------+---------+--------------------+--------------------+--------------------+-----------+--------------+--------------------+-----------+----+
|               _c0|            _c1|                 _c2|                 _c3|                 _c4|                 _c5|            _c6|       _c7|         _c8|                 _c9|                _c10|     _c11|                _c12|                _c13|                _c14|       _c15|          _c16|                _c17|       _c18|_c19|
+------------------+---------------+--------------------+--------------------+--------------------+--------------------+---------------+----------+------------+--------------------+--------------------+---------+--------------------+--------------------+--------------------+-----------+--------------+--------------------+-----------+----+
|         Timestamp|      Your Name|Number of custome...|Primary Audience ...|Primary Sales Con...|Key People (Prese...|        Outcome|Full Notes|   Trip Name|       Email Address|        Action Items|     Date|          Highlights|           Lowlights|           Learnings|Trip Region|Number of Days|Estimated Cost (USD)|Product Mix|null|
|1/24/2017 16:46:47|  Bryanty Pople|                  35|            Customer|   Vertical Solution|    Emera Ambrogioli|     Successful|      null|       Yodel|eambrogioli0@cons...|Organized leading...|1/24/2017|Cras in purus eu ...|In quis justo. Ma...|In quis justo. Ma...|         NA|             1|                 200|       null|null|
| 2/1/2017 12:09:48|  Bryanty Pople|                   1|               Event|     Solution (ISBU)|     Rurik Ossipenko|   Unsuccessful|      null|       Tazzy|rossipenko1@angel...|Digitized bifurca...|1/16/2017|Nullam sit amet t...|Phasellus sit ame...|Sed sagittis. Nam...|         NA|             5|                 200|       null|null|
|  2/3/2017 9:16:38|  Bryanty Pople|                   3|               Field|     Solution (ISBU)|       Sheryl Gayter|   Unsuccessful|      null|   Browsecat|sgayter2@friendfe...|Down-sized discre...|1/31/2017|Mauris enim leo, ...|Etiam vel augue. ...|In sagittis dui v...|       EMEA|             3|                 200|       null|null|
| 2/5/2017 13:41:22|  Bryanty Pople|                  30|         Engineering|                RHEL|    Minda Djurdjevic|     Successful|      null|       Oodoo| mdjurdjevic3@goo.gl|Expanded bifurcat...|1/25/2017|Duis at velit eu ...|Mauris sit amet e...|Nullam porttitor ...|       EMEA|             2|                2000|       null|null|
| 2/5/2017 13:47:19|  Bryanty Pople|                1500|               Event|          Containers|      Sondra Heasley|     Successful|      null|Thoughtworks|sheasley4@google....|Stand-alone unifo...|1/27/2017|Sed sagittis. Nam...|Nulla neque liber...|Proin leo odio, p...|       EMEA|             3|                1000|       null|null|
| 2/5/2017 14:00:47|  Bryanty Pople|                  15|            Customer|          Containers|       Gerda Bussens|     Successful|      null|     Skalith|gbussens5@harvard...|Balanced neutral ...| 2/2/2017|Integer pede just...|In sagittis dui v...|Integer ac leo. P...|       EMEA|             1|                1000|       null|null|
| 2/5/2017 14:07:13|  Jocko Stanion|                  20|            Customer|          Containers|  Willamina Handrock|     Successful|      null|    Photobug|   whandrock6@un.org|Cross-platform di...| 2/2/2017|Suspendisse poten...|Vivamus vestibulu...|Phasellus in feli...|       EMEA|             1|                1000|       null|null|
| 2/5/2017 14:10:40|     Tabb Rixon|                   3|            Customer|          Containers|      Ralf Tomkowicz|Partial Success|      null|      Trudeo| rtomkowicz7@who.int|Advanced transiti...| 2/3/2017|In blandit ultric...|Sed sagittis. Nam...|Vestibulum quam s...|       EMEA|             1|                1000|       null|null|
| 2/5/2017 14:13:55|     Tabb Rixon|                5000|               Event|          Containers|      Sherry Caddell|     Successful|      null|Jabbersphere| scaddell8@google.nl|De-engineered dem...| 2/4/2017|Mauris ullamcorpe...|Phasellus sit ame...|Proin eu mi. Null...|       EMEA|             2|                1500|       null|null|
| 2/8/2017 16:34:08|     Tabb Rixon|                   1|             Analyst|                 IoT|      Rolando Elrick|Partial Success|      null|        Latz|    relrick9@free.fr|Extended backgrou...|1/27/2017|Cras mi pede, mal...|Maecenas tincidun...|Proin interdum ma...|       EMEA|             0|                 200|       null|null|
| 2/8/2017 16:39:21|     Tabb Rixon|                   3|             Analyst|                 IoT|           Viv Heibl|     Successful|      null|       Quatz|  vheibla@scribd.com|Focused secondary...| 1/5/2017|Etiam justo. Etia...|Curabitur in libe...|Sed ante. Vivamus...|         NA|             0|                 200|       null|null|
|2/10/2017 13:35:53|     Tabb Rixon|                   1|            Customer|            Security|      Johan Cochrane|Partial Success|      null|    Fanoodle|jcochraneb@umich.edu|Managed radical n...|2/10/2017|Proin leo odio, p...|Donec semper sapi...|Duis consequat du...|       Call|             0|                 200|       null|null|
|2/13/2017 11:42:57|     Tabb Rixon|                  10|               Field|     Solution (ISBU)|        Cynde Lorans|   Unsuccessful|      null|  Topicstorm|   cloransc@furl.net|Universal executi...| 2/9/2017|In est risus, auc...|Praesent id massa...|Aenean fermentum....|       EMEA|             1|                 200|       null|null|
| 3/6/2017 11:34:14|     Tabb Rixon|                   3|            Customer|          Containers|Collette Landsbor...|     Successful|      null|       Abatz|clandsboroughd@om...|Down-sized encomp...| 3/1/2017|Mauris enim leo, ...|    Quisque ut erat.|Nulla ut erat id ...|         NA|             1|                1000|       null|null|
| 3/6/2017 11:46:20|     Tabb Rixon|                   3|            Customer|          Containers|      Zollie Frodsam|     Successful|      null|       Mydeo| zfrodsame@jigsy.com|Function-based ba...| 3/1/2017|In blandit ultric...|Morbi sem mauris,...|Mauris enim leo, ...|         NA|             1|                 500|       null|null|
| 3/6/2017 12:08:08|Kaitlynn Reding|                  27|               Event|          Containers| Dominick Aleksashin|     Successful|      null|      Rhynyx|  daleksashinf@de.vu|Profound multi-ta...| 3/1/2017|Etiam vel augue. ...|Curabitur convallis.|Sed sagittis. Nam...|         NA|             1|                1000|       null|null|
| 3/6/2017 12:34:27|Kaitlynn Reding|                   1|            Customer|          Containers|       Darcy Mallock|   Unsuccessful|      null|      Divavu|    dmallockg@360.cn|Configurable web-...| 3/2/2017|Donec diam neque,...|Etiam vel augue. ...|Morbi non lectus....|         NA|             1|                1000|       null|null|
| 3/15/2017 6:08:02|Kaitlynn Reding|                 500|               Field|     Solution (ISBU)|  Bendite Vercruysse|   Unsuccessful|      null|      Agimba|bvercruysseh@dmoz...|Innovative backgr...|2/28/2017|Aliquam erat volu...|Vestibulum ante i...|Nullam porttitor ...|       APAC|            12|                3000|       null|null|
|3/18/2017 19:57:10|Kaitlynn Reding|                  50|         Engineering|          Containers|    Franciskus Ather|Partial Success|      null|    Linktype|fatheri@google.co...|Persistent system...| 3/7/2017|Curabitur gravida...|Integer ac leo. P...|Aenean fermentum....|         NA|             3|                1200|       null|null|
+------------------+---------------+--------------------+--------------------+--------------------+--------------------+---------------+----------+------------+--------------------+--------------------+---------+--------------------+--------------------+--------------------+-----------+--------------+--------------------+-----------+----+
only showing top 20 rows

In [10]:
spark.read.csv("s3a://bd-dist/trip_report.tsv",sep="\t").write.csv(f"s3a://{s3_bucket_name}/trip_report.tsv",sep="\t",mode="overwrite")

Extract all JSON files from a bucket prefix (pseudo directory) in Amazon S3 and write them back out to a bucket in our Ceph(Rook) service with the same bucket prefix.

In [11]:
jsonFile= spark.read.option("multiline", True).option("mode", "PERMISSIVE").json("s3a://bd-dist/kube-metrics")
print("Total number of rows in df0: %d" % jsonFile.count())
jsonFile.printSchema()
jsonFile.show()

Total number of rows in df0: 26775
root
 |-- metric: struct (nullable = true)
 |    |-- __name__: string (nullable = true)
 |    |-- beta_kubernetes_io_arch: string (nullable = true)
 |    |-- beta_kubernetes_io_fluentd_ds_ready: string (nullable = true)
 |    |-- beta_kubernetes_io_instance_type: string (nullable = true)
 |    |-- beta_kubernetes_io_os: string (nullable = true)
 |    |-- clam_controller_enabled: string (nullable = true)
 |    |-- clam_server_enabled: string (nullable = true)
 |    |-- failure_domain_beta_kubernetes_io_region: string (nullable = true)
 |    |-- failure_domain_beta_kubernetes_io_zone: string (nullable = true)
 |    |-- fluentd_test: string (nullable = true)
 |    |-- hostname: string (nullable = true)
 |    |-- image_inspector_enabled: string (nullable = true)
 |    |-- instance: string (nullable = true)
 |    |-- job: string (nullable = true)
 |    |-- kubernetes_io_hostname: string (nullable = true)
 |    |-- logging_infra_fluentd: string (nullable = true)
 |    |-- node_role_kubernetes_io_compute: string (nullable = true)
 |    |-- node_role_kubernetes_io_master: string (nullable = true)
 |    |-- operation_type: string (nullable = true)
 |    |-- ops_node: string (nullable = true)
 |    |-- placement: string (nullable = true)
 |    |-- quantile: string (nullable = true)
 |    |-- region: string (nullable = true)
 |    |-- type: string (nullable = true)
 |-- values: array (nullable = true)
 |    |-- element: array (containsNull = true)
 |    |    |-- element: string (containsNull = true)

+--------------------+--------------------+
|              metric|              values|
+--------------------+--------------------+
|[kubelet_docker_o...|[[1524614399, NaN...|
|[kubelet_docker_o...|[[1524614399, NaN...|
|[kubelet_docker_o...|[[1524614399, NaN...|
|[kubelet_docker_o...|[[1524614399, NaN...|
|[kubelet_docker_o...|[[1524614399, NaN...|
|[kubelet_docker_o...|[[1524614399, NaN...|
|[kubelet_docker_o...|[[1524614399, 178...|
|[kubelet_docker_o...|[[1524614399, 178...|
|[kubelet_docker_o...|[[1524614399, 178...|
|[kubelet_docker_o...|[[1524614399, 468...|
|[kubelet_docker_o...|[[1524614399, 108...|
|[kubelet_docker_o...|[[1524614399, 243...|
|[kubelet_docker_o...|[[1524614399, 473...|
|[kubelet_docker_o...|[[1524614399, 804...|
|[kubelet_docker_o...|[[1524614399, 115...|
|[kubelet_docker_o...|[[1524614399, 125...|
|[kubelet_docker_o...|[[1524614399, 174...|
|[kubelet_docker_o...|[[1524614399, 910...|
|[kubelet_docker_o...|[[1524614399, NaN...|
|[kubelet_docker_o...|[[1524614399, NaN...|
+--------------------+--------------------+
only showing top 20 rows

# Working with SparkSQL

Load Prometheus data set from Ceph(Rook) into a data frame.

__Import statistics libraries__

In [12]:
import pandas as pd
import json
import numpy as np
import seaborn as sns
import sys
import matplotlib.pyplot as plt
%matplotlib inline

from datetime import datetime

import warnings
warnings.filterwarnings('ignore')

__Display schema of files__

In [ ]:
print('Display schema:')
jsonFile.printSchema()

__Query the JSON data using filters__

In [13]:
#Register the created SchemaRDD as a temporary table.
jsonFile.registerTempTable("kubelet_docker_operations_latency_microseconds")

#Filter the results into a data frame
data = spark.sql("SELECT values, metric.operation_type FROM kubelet_docker_operations_latency_microseconds WHERE metric.quantile='0.9' AND metric.hostname='free-stg-master-03fb6'")

data.show()
data.printSchema()

+--------------------+-----------------+
|              values|   operation_type|
+--------------------+-----------------+
|[[1524614399, NaN...|             info|
|[[1524614399, NaN...|inspect_container|
|[[1524614399, 178...|    inspect_image|
|[[1524614399, 108...|  list_containers|
|[[1524614399, 804...|      list_images|
|[[1524614399, 174...|          version|
|[[1524527999, NaN...|             info|
|[[1524527999, NaN...|inspect_container|
|[[1524527999, 206...|    inspect_image|
|[[1524527999, 107...|  list_containers|
|[[1524527999, 796...|      list_images|
|[[1524527999, 163...|          version|
|[[1524182399, NaN...|             info|
|[[1524182399, NaN...|inspect_container|
|[[1524182399, 246...|    inspect_image|
|[[1524182399, 105...|  list_containers|
|[[1524182399, 692...|      list_images|
|[[1524182399, 162...|          version|
|[[1524441599, NaN...|             info|
|[[1524441599, NaN...|inspect_container|
+--------------------+-----------------+
only showing top 20 rows

root
 |-- values: array (nullable = true)
 |    |-- element: array (containsNull = true)
 |    |    |-- element: string (containsNull = true)
 |-- operation_type: string (nullable = true)

In [14]:
data_pd = data.toPandas()



OP_TYPE = 'list_images'

df2 = pd.DataFrame(columns = ['utc_timestamp','value', 'operation_type'])
#df2 ='
for op in set(data_pd['operation_type']):
    dict_raw = data_pd[data_pd['operation_type'] == op]['values']
    list_raw = []
    for key in dict_raw.keys():
        list_raw.extend(dict_raw[key])
    temp_frame = pd.DataFrame(list_raw, columns = ['utc_timestamp','value'])
    temp_frame['operation_type'] = op
    
    df2 = df2.append(temp_frame)


df2 = df2[df2['value'] != 'NaN']

df2['value'] = df2['value'].apply(lambda a: int(a))

df2['timestamp'] = df2['utc_timestamp'].apply(lambda a : datetime.fromtimestamp(int(a)))

df2.head()

    utc_timestamp  value    operation_type           timestamp
987    1520872259  55420  remove_container 2018-03-12 16:30:59
988    1520872319  55420  remove_container 2018-03-12 16:31:59
989    1520872379  55420  remove_container 2018-03-12 16:32:59
990    1520872439  55420  remove_container 2018-03-12 16:33:59
991    1520872499  55420  remove_container 2018-03-12 16:34:59

__ Objective - Verify Above Alerts __

Store timestamp with data

In [15]:
df2.reset_index(inplace =True)

del df2['index']

df2['operation_type'].unique()
df2.head()

  utc_timestamp  value    operation_type           timestamp
0    1520872259  55420  remove_container 2018-03-12 16:30:59
1    1520872319  55420  remove_container 2018-03-12 16:31:59
2    1520872379  55420  remove_container 2018-03-12 16:32:59
3    1520872439  55420  remove_container 2018-03-12 16:33:59
4    1520872499  55420  remove_container 2018-03-12 16:34:59

# Save Dataframe in local Ceph(Rook)

In [16]:
# Convert Pandas DataFrame to Spark DataFrame
dfSpark = spark.createDataFrame(df2)
dfSpark.printSchema()

root
 |-- utc_timestamp: string (nullable = true)
 |-- value: long (nullable = true)
 |-- operation_type: string (nullable = true)
 |-- timestamp: timestamp (nullable = true)

In [26]:
dfSpark.write.csv(f"s3a://{s3_bucket_name}//kube-metrics/operationinfo.csv",sep="\t",mode="overwrite",header = 'True')

This is just for us testing

In [27]:
testdf = spark.read.csv(f"s3a://{s3_bucket_name}//kube-metrics/operationinfo.csv",sep="\t")
testdf.printSchema()
testdf.show()

root
 |-- _c0: string (nullable = true)
 |-- _c1: string (nullable = true)
 |-- _c2: string (nullable = true)
 |-- _c3: string (nullable = true)

+-------------+-----+----------------+--------------------+
|          _c0|  _c1|             _c2|                 _c3|
+-------------+-----+----------------+--------------------+
|utc_timestamp|value|  operation_type|           timestamp|
|   1520872259|55420|remove_container|2018-03-12T16:30:...|
|   1520872319|55420|remove_container|2018-03-12T16:31:...|
|   1520872379|55420|remove_container|2018-03-12T16:32:...|
|   1520872439|55420|remove_container|2018-03-12T16:33:...|
|   1520872499|55420|remove_container|2018-03-12T16:34:...|
|   1520872559|55420|remove_container|2018-03-12T16:35:...|
|   1520872619|55420|remove_container|2018-03-12T16:36:...|
|   1520872679|55420|remove_container|2018-03-12T16:37:...|
|   1520872739|55420|remove_container|2018-03-12T16:38:...|
|   1520872919|33524|remove_container|2018-03-12T16:41:...|
|   1520872979|33524|remove_container|2018-03-12T16:42:...|
|   1520873039|17815|remove_container|2018-03-12T16:43:...|
|   1520873099|17815|remove_container|2018-03-12T16:44:...|
|   1520873159|17815|remove_container|2018-03-12T16:45:...|
|   1520873219|17815|remove_container|2018-03-12T16:46:...|
|   1520873279|17815|remove_container|2018-03-12T16:47:...|
|   1520873339|17815|remove_container|2018-03-12T16:48:...|
|   1520873399|17815|remove_container|2018-03-12T16:49:...|
|   1520873459|17815|remove_container|2018-03-12T16:50:...|
+-------------+-----+----------------+--------------------+
only showing top 20 rows

In [ ]:
spark.stop()